/* Set chat bubble to lighter TH brand green */
/*.startelecom-custom .cx-webchat.cx-theme-light .cx-message.cx-them .cx-bubble {
/*    background-color: #E8F5F2;
/*}

/* Sets chat arrow to same color as chat bubble */
.startelecom-custom .cx-webchat.cx-theme-light .cx-message.cx-them .cx-bubble-arrow svg * {
    fill: #E8F5F2;
}

/* Sets SVG icons (chat, robot) to TH green */
.startelecom-custom .cx-widget.cx-theme-light .cx-svg-icon-tone1 {
    fill: #470000;
}

/* Sets titlebarr*/
.startelecom-custom .cx-widget.cx-theme-light .cx-titlebar .cx-title {
    fill: #470000;
    color: #470000;
}

/* Removes fuzziness issue of bold font weight */
.startelecom-custom .cx-widget .cx-btn {
    font-weight: normal;
}


.startelecom-custom .cx-widget.cx-theme-light .cx-side-button {
    width: 60px;
    height: 60px;
    background-image: url(YJWdW201.svg);
    background-size: 50px 50px;
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    animation: bot-to-top 2s ease-out;
}

.startelecom-custom .cx-widget.cx-theme-light .cx-titlebar .cx-icon svg * {

    fill:white;
    opacity:0;
    
    
}

.startelecom-custom .cx-widget.cx-theme-light .cx-titlebar .cx-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(YJWdW201.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    
    
}
/* Changes primary buttons to TH brand green */
.startelecom-custom .cx-widget.cx-theme-light .cx-btn-primary {
    background-color: #470000;
    background: linear-gradient(0deg, #470000, #470000);
    border-color: #470000 !important;
}

/* Changes primary buttons to TH brand yellow */
.startelecom-custom .cx-widget.cx-theme-light .cx-btn-default {
    background-color: #c50000;
    background: linear-gradient(0deg, #c50000, #c50000);
    border-color: #c50000 !important;
}

/* Positions chat overlay tab to bottom right of screen */
.startelecom-custom .cx-widget.cx-theme-light .cx-side-button-group {
    position: fixed;
    width: 60px;
    height: 60px;
    top: auto;
    bottom: 20px;
    right: 60px;
    transform: rotate(0deg);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}


/* Hides Genesys logo when in active chat screen */
.startelecom-custom .cx-webchat.cx-theme-light .cx-menu .cx-branding-icon svg * {
    fill: white;
}

/* Hides "Powered by Genesys" logo when in chat start screen */
.startelecom-custom .cx-widget.cx-theme-light .cx-footer,
.startelecom-custom .cx-widget.cx-theme-light .cx-footer * {
    fill: white;
    color: white;
}